*{
    font-family: Comic Sans MS;
}
body{
    background:#5b687e;
    color:#fff;
}
a {
    text-decoration:none;
    color:#fff;
}
a:active, a:hover{
    text-decoration: underline;
}
content {
    margin-left: 85%;
    float: right;
    position: fixed;
    margin-right:20px;
}
content ol li {
    list-style:123;
    line-height:21px;
}
section{
    margin-left: 1%;
}
section h1 {
    font-size: 36px;
    text-shadow: 1.5px 2px #acab9c;
}
section h2{
    text-shadow: 1.5px 2px #acab9c;
}
section h6{
    font-style: oblique;
    font-size: medium;
    margin-left:20px;
}
article{
    width: 60%;
}
img {
    width: 50%;
    border-radius: 10%;
}
footer{
    background-color:#204a5a;
    text-align: center;
    position:absolute;
    width:100%;
    height:60px;

}