*{
    font-family: Comic Sans MS;
}
body{
    background-color: #5b687e;
}
section{
    text-align: center;
}
.picker{
    display: inline-block;
    background: #204a5a;
    color:#fff;
    width: 13%;
    line-height: 90px;
    text-align: center;
    vertical-align: middle;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 6%;
    margin-right: 6%;
    border-radius: 8%;
}
.picker a{
    text-decoration: none;
    color:#fff;
}
#navg {
    color:#fff;
    font-size: 36px;
    text-shadow: 1.5px 2px #acab9c;
    text-decoration: underline;
}