
body{
    margin: 0;
    padding: 0;
}
  
nav ul {
    list-style-type: none;
    margin-top: -15px;
    padding-top: 0;
    overflow: hidden;
    background-color:#204a5a;
    border-radius: 15px;
    text-align: center;
    height: 65px;
    }
    
nav ul li {
    display: inline-block;
    width: 20%;
    height: 65px;
    line-height: 50px;
}
    
nav ul li a {
    display: block;
    color: #ececec;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Comic Sans MS;
}
  
   nav ul li a:hover, a.active, a:checked {
    background-color: #2a3e54;
    color: #fff;
}